
.collapsable-container-expanded {
    border: 1px solid #999;
}

.collapsable-caret {
    display: inline-block;
}

.collapsable-container-expanded .collapsable-caret {
    transform: rotate(90deg);
    transition: 0.1s ease-in;
}

.collapsable-toggle {
    user-select: none;
    -moz-user-select: none;
    position: relative;
    top: -10px;
    font-size: 12px;
    left: 12px;
    background-color: #fff;
    z-index: 1;
    display: inline-block;
    padding: 0 4px 0 4px;
    cursor: pointer;
}

.collapsable-content {
    padding: 6px;
    overflow: hidden;
    display: none;
}

.collapsable-container-expanded .collapsable-content {
    display: block;
}