.form-field-container {
    display: flex;
    padding-bottom: 12px;
}

.form-field-direction-column {
    flex-direction: column;
    padding-bottom: 20px;
}

.form-field-caption {
    order: 1;
    width: 120px;
    align-self: center;
}

.form-field-direction-column .form-field-caption {
    align-self: flex-start;
}

.form-field {
    padding-top: 2px;
    order: 2;
    flex: 1 1 auto;
}

.form-field input[type="number"], .form-field select {
    width: 120px;
}

.select-color-field {
    width: 40px;
}

.field-row {
    display: flex;
    justify-content: space-between;
}
