.tabbed-options-container {
    display: flex;
    align-items: flex-start;
}

.tabs-list {
    height: 400px;
    list-style-type: none;
    padding: 0 0 0 0;
    margin: 0 8px 0 0;
}

.tabs-list>li {
    height: 16px;
    padding: 9px 8px 8px;
    margin-bottom: 4px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
    border: 1px solid #1b2f40;
    cursor: pointer;
}

.tabs-list > .active {
    background-color: #1b2f40;
    color: #fff;
}

.tab-content-container {
    width: 600px;
    box-shadow: inset 0 0 3px 0 rgba(0,0,0,0.75);
    height: 400px;
    background-color: #f3f2f240;
}

.tab-content {
    padding: 20px 0 0 20px;
}

.tab-content>.title {
    font-size: 20px;
    margin-bottom: 18px;
    text-transform: uppercase;
}

.sub-section:not(:last-child) {
    margin-bottom: 30px;
}

.sub-title {
    width: 100%;
    margin: 0 8px 12px 0;
    text-transform: uppercase;
    font-size: 14px;
    color: #5959b9;
}

.tab-inactive {
    display: none;
}