.board-container {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    height: calc(100vh - 40px);
}

.column {
    height: calc(100vh - 40px);
    width: 180px;
    overflow-x: hidden;
    border: 1px solid #1829a5;
    border-radius: 4px;
    margin: 6px 3px 3px 6px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.75);
    background-color: #f3f2f2;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    user-select: none;
}

.half-col {
    height: calc(50vh - 31px);
}

.column.in-background {
    opacity: 0.3;
}

.column-above-limit {
    background-color: #ff5454;
    border-color: #9a4d30;
}

.column-above-limit .wip {
    color: #fbe2cd;
}

.column-drop-zone {
    width: 22px;
    margin: 6px 0 6px 0;
    border: 1px solid #1829a5;
    border-radius: 4px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.75);
    background-color: #f3f2f2;
}

.column-header {
    font-size: 18px;
    font-weight: bold;
    color: #2C2C2C;
    padding: 2px;
    text-align: center;
    font-family: "Helvetica", "Arial", sans-serif;
    cursor: pointer;
    overflow-x: hidden;
    white-space: nowrap;
}

.wip {
    font-size: 14px;
    color: #772b13;
}

.task-container {
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 100px);
    width: 100%;
    padding-right: 17px;
}

.half-col>.task-container {
    height: calc(50vh - 78px);
}

.task {
    margin: 4px;
    padding: 4px;
    background-color: #fff6a8;
    width: 162px;
    border: 1px solid #2C2C2C;
    border-radius: 3px;
    cursor: move;
    min-height: 30px;
    overflow: hidden;
    position: relative;
}

.side-color-marker {
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    right: 0;
    top: 0;
}

.task-title {
    font-family:  "Helvetica", "Arial", sans-serif;
    color: #000066;
    font-size: 14px;
    overflow-x: hidden;
    cursor: pointer;
}

.hashtag {
    color: red;
}

.trash-zone {
    height: calc(100vh - 40px);
    width: 150px;
    border: 1px dashed #2C2C2C;
    border-radius: 4px;
    margin: 6px 3px 4px 6px;
    text-align: center;
    font-size: 32px;
    font-family: "Helvetica", "Arial", sans-serif;
    user-select: none;
    -moz-user-select: none;
}


@media (min-width: 2000px) {

    .column {
        width: 200px;
    }

    .task {
        width: 182px;
    }

}
