body {
    margin: 0;
    background-color: aliceblue;
}

.toolbar {
    position: absolute;
    top: 4px;
    right: 7px;
    clear: both;
    height: 40px;
}

.toolbar button {
    margin: 2px;
    border-radius: 6px;
    background-color: transparent;
    color: #fff;
    font-size: 14px;
    border: 0px;
    padding: 2px;
    cursor: pointer;
    font-family: Helvetica, serif;
    text-decoration: underline;
    text-transform: lowercase;
}

.toolbar select {
    margin: 2px;
}

.toolbar .hidden {
    display: none;
}

.remove-btn {
     color: red;
}