body {
    margin: 0;
    background-color: aliceblue;
    font-family: "Helvetica Neue", sans-serif;
}

.toolbar {
    position: absolute;
    top: 4px;
    right: 7px;
    clear: both;
    height: 40px;
    color: #fff;
    line-height: 14px;
    font-size: 14px;
}

.toolbar button {
    margin: 2px;
    border-radius: 6px;
    background-color: transparent;
    color: #fff;
    font-size: 14px;
    border: 0;
    padding: 2px;
    cursor: pointer;
    text-decoration: underline;
    text-transform: lowercase;
}

.toolbar select {
    margin: 2px;
}

.toolbar .hidden {
    display: none;
}

.remove-btn {
     color: red;
}

.button-row {
    display: flex;
}

.button-row>button {
    width: 120px;
    margin-right: 20px;
}

.subtitle {
    font-size: 1.3em;
    margin-bottom: 0.3em;
    font-weight: normal;
}