
.edit-task-form {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.edit-task-form input[type="text"] {
    width: calc(100% - 30px);
}

.edit-task-form textarea {
    width: calc(100% - 30px);
    height: calc(100vh - 441px);
    max-height: 600px;
    resize: vertical;
}

.edit-section {
    width: 38vw;
    max-width: 640px;
}

.edit-section div {
    font-family: "Helvetica", "Arial", sans-serif;
    font-weight: 600;
    font-size: 12px;
}

.preview-section {
    overflow: auto;
    height: calc(100vh - 243px);
    width: 36vw;
    max-width: 600px;
    margin-left: 20px;
}

.soft-modal-title {
    color: #999;
    text-transform: uppercase;
    position: absolute;
    width: 80px;
    margin-left: -40px;
    left: 50%;
    top: 3px;
    font-size: 10px;
}

.enable-markdown-preview {
    position: relative;
    left: 455px;
    text-decoration: underline;
    top: 12px;
}

.color-section {
    display: flex;
    justify-content: space-between;
    width: 320px;
}

.reset-color-btn {
    text-decoration: underline;
    cursor: pointer;
}

.dialog-title {
    position: relative;
    top: -20px;
    left: -20px;
    width: calc(100% + 22px);
    background-color: #d7dee8;
    color: #000;
    height: 20px;
    line-height: 22px;
    padding: 4px 0 4px 18px;
    font-weight: bold;
}

.dialog-main-container {
    background-color: #fff;
    position: relative;
    top: -20px;
    left: -20px;
    margin-right: -60px;
    width: 100%;
    padding: 20px;
}

.dialog-buttons-bar {
    background-color: #f5f5f5;
    position: relative;
    top: -20px;
    left: -20px;
    padding: 10px 20px 10px 20px;
    width: 100%;
    border-radius: 0 0 4px 4px;
    border-top: 1px solid #d2d2d2;
    display: flex;
    justify-content: space-between;
}

.dialog-date-section {
    font-size: 10px;
    text-align: right;
    text-transform: uppercase;
}



@media (min-width: 2000px) {

    .edit-section {
        min-width: 840px;
    }

    .edit-task-form input[type="text"] {
        width: 800px;
    }

    .edit-task-form textarea {
        width: 800px;
        font-size: 18px;
    }
}
